{% extends 'base.html' %}

{% block head %}
<title>contactus</title>
{% endblock %}

{% block body %}
<div class="container1">
<nav class="navbar navbar-expand-sm nvbr">

      <div class="container d-flex justify-content-center ">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">page</a></li>
        <li class="nav-item"><a class="nav-link" href="#">product</a></li>
        <li class="nav-item"><a class="nav-link" href="#">blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#">aboutus</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">contactus</a></li>
      </ul>
      <br>


    </div>


</nav>
<div class="logo__text">
contact
</div>

</div>


<container>
  <div class="container contact">
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <i class="material-icons contact2">home</i>
        <div class="footer__text "> Address: 711 Knickerbocker Ave # 1 <br> Brooklyn, NY 11221</div>
      </div>
      <div class="col-4">
        <i class="material-icons contact2">phone</i>
        <div class="footer__text ">Hotline: (718) 417-1441</div>
      </div>
      <div class="col-4">
        <i class="material-icons contact2">email</i>
        <div class="footer__text "> Email: fake@gmail.com</div>
      </div>
    </div>
    <div class="row justify-content-center body1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163110.68270068464!2d-74.01567657587509!3d40.568768885895125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x296990e23ebc3ccd!2sFresh%20Food%20Mart!5e0!3m2!1sen!2sus!4v1573966479586!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="row justify-content-center ">
      <div class="col-6">
        <div class="form-group form2">
          <div class="row justify-content-center">
            <div class="col-6"><input type="text" class="form-control form__element" placeholder="your name"></div>
            <div class="col-6"><input type="text" class="form-control form__element" placeholder="your email"></div>
          </div>
          <input type="text" class="form-control form2" placeholder="subject">
          <textarea class="form-control form2" rows="10" placeholder="message"></textarea>
          <button type="submit" class="btn btn-primary form2 btn2">Submit</button>
          </div>
      </div>
    </div>
  </div>





</container>

{% endblock %}
